<template id="board-template">
    <section class="board">
        <div class="board-header"><span class="board-title"></span>
            <button class="board-add">Add Card</button>
            <button class="board-delete">Delete board</button>
            <button class="board-toggle"><i class="fas fa-chevron-down"></i></button>
        </div>
    </section>
</template>
<template id="board-columns">
    <div class="board-columns">

    </div>
</template>

<template id="board-column">
    <div class="board-column">
        <div class="board-column-title"></div>
        <div class="board-column-content"></div>
    </div>
</template>
