<template id="board-template">
    <section class="board">
        <div class="board-header">
            <span class="board-title"></span>
            <input type="text" placeholder="Enter board name" class="board-rename-input invisible">
            <button class="card-add">Add Card</button>
            <button class="fas fa-plus card-add-btn invisible"></button>
            <input type="text" placeholder="Enter card name" class="card-create-input invisible">
            <button class="board-delete">Delete board</button>
            <button class="board-toggle fas fa-chevron-down"></button>
        </div>
    </section>
</template>

<template id="board-columns">
    <div class="board-columns invisible">

    </div>
</template>

<template id="board-column">
    <div class="board-column">
        <input type="text" placeholder="Enter column name" class="column-rename-input">
        <div class="board-column-title"></div>
        <div class="board-column-content"></div>
    </div>
</template>

<template id="board-new">
    <div>
        <button id="new-board">Create board</button>
        <input type="text" placeholder="Enter board name" id="board-name">
    </div>
</template>

<template id="card-template">
    <div class="card">
        <div class="card-remove fas fa-trash-alt"></div>
        <div class="card-title">Card 2</div>
    </div>
</template>
